.skills-section {
    margin: 16% 0 5% 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 1000px;
}

/* ---------------- right section of skills ----------------  */
.skills-right {
    width: 50%;
    height: 100%;
    position: relative;
}

.skills-right img {
    position: absolute;
    top: 0;
    right: 0;
    width: 660px;
    height: 880px;
    border-radius: 30px;
}

.image-group {
    display: flex;
    align-items: center;
    gap: 18px;
}

/* ---------------- left section of skills ----------------  */
.skills-left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

.skills {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-left: 60px;
}

.skill {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* ---------------- percentage section ----------------  */

.percentage {
    display: flex;
    align-items: center;
    gap: 20px;
}

.percentage span {
    font-size: 28px;
    line-height: 1.1428571429;
    font-weight: 600;
    letter-spacing: .007em;
    font-family: Helvetica, Arial, sans-serif;
}

.skill p {
    position: relative;
    outline: none;
    border: none;
    padding: 3px;
}

.skill p::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border: 3px solid transparent;
    border-radius: 5px;
    background: linear-gradient(90deg, rgba(235, 96, 226, 1) 0%, rgba(46, 188, 191, 1) 100%);
}


/* ------------------------------------------------ responsive ------------------------------------------------  */

@media (min-width:992px) and (max-width:1200px) {

    .skills-section {
        width: 100%;
        gap: 30px;
        height: 700px;

    }

    .image-group img {
        width: 36px;
    }

    .skills-right {
        width: 60%;
    }

    .skills-left {
        width: 40%;
        height: 30%;
    }

    .skills-right img {
        top: translateY(-50px);
        width: 650px;
        height: 650px;
        object-fit: contain;
        border-radius: 30px;
    }

    .skill {
        gap: 10px;
    }
}

@media (max-width:992px) {
    .skills-section {
        flex-direction: column;
        margin-bottom: 10%;
    }

    .skills-left,
    .skills-right {
        width: 100%;
    }

    .skills-left {
        height: 30%;
    }

    .skills-right img {
        top: transslateY(-50px);
        width: 750px;
        height: 750px;
        object-fit: contain;
    }

    .skill {
        gap: 10px;
    }
}

@media (max-width:768px) {
    .skills-section {
        flex-direction: column;
        margin-bottom: 10%;
    }

    .skills-left,
    .skills-right {
        width: 100%;
    }

    .skills-left {
        height: 30%;
    }

    .skills-right img {
        top: translateY(-50px);
        width: 660px;
        height: 690px;
        object-fit: contain;
    }

    .skill {
        gap: 10px;
    }

}

@media (max-width: 576px) {
    .skills-right img {
        top: 0;
        width: 100%;
        max-width: 660px;
        object-fit: contain;
    }

    .skills-left {
        padding: 0 20px;
    }

    .percentage span {
        font-size: 20px;
    }

    .skill hr {
        height: 4px;
    }
}

@media (min-width:320px) and (max-width:575px) {
    .skills-section {
        flex-direction: column;
        gap: 0px;
        margin: 0;
    }

    .skill {
        gap: 10px;
    }
}