.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    border: 1.5px solid rgba(235, 96, 226, 0.5);
    padding: 30px 0;
    position: relative;
    border-radius: 20px;
    margin: 17% 0;
}

/* ----- About me title ----- */
.about-title h1 {
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}

/* ---------- About left & right container ---------- */
.about-sections {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 100%;
    height: 400px;
}

/* ----- About left  section----- */
.about-left {
    width: 30%;
    height: 100%;
}

/* ----- Image in about ----- */
.about-left img {
    margin-top: 20px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 2;
}

/* ---------- Loader creation and animation behind the image ---------- */
.about-left .loader {
    position: absolute;
    top: 26%;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background: linear-gradient(#EB60E2, #84cdfa, #5ad1cd);
    box-shadow:
        0 4px 6px rgba(235, 96, 226, 0.5),

        0 5px 10px rgba(132, 205, 250, 0.5),

        0 6px 12px rgba(90, 209, 205, 0.5);
    animation: animate 6s linear infinite;
    z-index: 1;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* --------------- About right  section ---------- */
.about-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.about-right p {
    font-size: 20px;
    text-align: justify;
}

/* ------------------------------- Responsive -------------------------------  */

@media screen and (min-width: 1400px) {
    .about-left img {
        width: 350px;
        height: 350px;
    }

    .about-left .loader {
        top: 170px;
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width:1400px) {
    .about-left img {
        width: 350px;
        height: 350px;
    }

    .about-left .loader {
        top: 170px;
        width: 350px;
        height: 350px;
    }
}

@media screen and (max-width:1200px) {
    .about-left img {
        max-width: 300px;
        height: 300px;
    }

    .about-left .loader {
        top: 170px;
        width: 300px;
        height: 300px;
    }
}

@media screen and (max-width:992px) {

    .about-left img {
        max-width: 300px;
        height: 300px;
    }

    .about-left .loader {
        top: 170px;
        width: 300px;
        height: 300px;
    }

    .about-right p {
        font-size: 16px;
    }
}

@media screen and (min-width: 680px) and (max-width: 930px) {

    .about-sections {
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 450px;
        /* height: auto; */
    }

    .about-left {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-left .loader {
        top: 150px;
        width: 250px;
        height: 250px;
    }

    .about-right {
        width: 90%;
        text-align: center;
    }

    .about-left img {
        max-width: 250px;
        height: 250px;
    }

    .about-title h1 {
        font-size: 40px;
    }

    .about-right p {

        font-size: 14px;
    }
}

@media screen and (min-width: 380px) and (max-width: 679px) {
    .about-sections {
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .about-left {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-left .loader {
        top: 140px;
        width: 180px;
        height: 180px;
    }

    .about-right {
        width: 90%;
        text-align: center;
    }

    .about-left img {
        width: 180px;
        height: 180px;
        margin-bottom: 10px;
    }

    .about-title h1 {
        font-size: 40px;
    }

    .about-right p {
        margin-top: 10px;
        font-size: 15px;
    }
}

@media screen and (min-width:320px) and (max-width:379px) {
    .about-sections {
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .about-left {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-left .loader {
        top: 140px;
        width: 100px;
        height: 100px;
    }

    .about-right {
        width: 90%;
        text-align: center;
    }

    .about-left img {
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
    }

    .about-title h1 {
        font-size: 40px;
    }

    .about-right p {
        margin-top: 10px;
        font-size: 15px;
    }
}