.footer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* --------------------- Footer top --------------------- */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-top-left p {
    font-size: 20px;
    max-width: 400px;
}

/* ---------------------------- social media buttons---------------------------- */
.social-buttons {
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10px;
}

.social-buttons__button {
    margin: 5px;
}

.social-button {
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    width: 70px;
    height: 70px;
    text-decoration: none;
}

.social-button__inner {
    font-size: 2.3rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: 100%;
    background: #fff;
    text-align: center;
}

.social-button i {
    position: relative;
    z-index: 1;
    transition: 0.3s;
    font-size: 28px;
}

.social-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: 0.3s;
}

.social-button:focus,
.social-button:hover {
    color: #fff;
    text-decoration: none;
}

.social-button:focus::after,
.social-button:hover::after {
    width: 100%;
    height: 100%;
    margin-left: -50%;
}

.social-button--linkedin {
    color: #0077b5;
}

.social-button--linkedin::after {
    background: #0077b5;
}

.social-button--github {
    color: #6e5494;
}

.social-button--github::after {
    background: #6e5494;
}

/* --------------------- footer bottom ---------------------  */
.footer-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}

.footer-bottom-right {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

/* ---------------------------- responsive ------------------------  */
@media (max-width:768px) {
    .footer-top {
        flex-direction: column;
        gap: 30px;
    }

    .footer-top-left p {
        max-width: 100%;
        font-size: 19px;
        margin-top: 20px;
    }

    .footer-bottom {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    .footer-bottom {
        font-size: 13px;
    }
}